@import '../global.less';

@polygon: polygon(
  6px 0, calc(100% - 6px) 0,
  100% 0, 100% calc(100% - 6px),
  calc(100% - 6px) 100%, 0 100%,
  0 calc(100% - 6px),0 6px
);

.buttonContainer {
  width: max-content;
  position: relative;
  transition: opacity ease 0.3s;
  background-color: @main-color;
  background-repeat: no-repeat;
  padding: 2px;
  user-select: none;
}
.polygonContainer {
  clip-path: @polygon;
  filter: drop-shadow(-5px 0px 3px @black);
}
.plainContainer {
  border-radius: 3px;
  background-color: @main-color;
}
.interactiveContainer {
  border-radius: 3px;
  transform: rotate(360deg);
  transition: all ease 3s;
  background: unset;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonContainer:hover {
  cursor: pointer;
}
.clickable.buttonContainer:active {
  opacity: 0.8;
}

.buttonContent {
  position: relative;
  color: @white;
  text-shadow: @buttonTextShadow;
  padding: 5px 60px;
  box-sizing: border-box;
}
.polygonContent {
  clip-path: @polygon;
  background: linear-gradient(-45deg, @black 4px, @secondary-color 0) bottom right,
              linear-gradient(45deg, @black 0, @secondary-color 0) bottom left,
              linear-gradient(135deg, @black 4px, @secondary-color 0) top left,
              linear-gradient(-135deg, @black 0,@secondary-color 0) top right;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  border: 2px solid @black;
}
.plainContent {
  border-radius: 3px;
  padding: 2px 8px;
  background-color: @secondary-color;
}
.interactiveContent {
  border-radius: 3px;
  padding: 2px 8px;
  background: unset;
}

.disabled {
  opacity: 0.5;
}
.buttonContainer.disabled:hover {
  cursor: not-allowed;
}

.interactiveSVGContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  .svg {
    border-radius: 3px;
  }
  .background {
    stroke-width: 5px;
    opacity: 0.3;
  }
  .meter {
    stroke-width: 6px;
  }
  .fill {
    transform: translate(2px, 2px);
  }
}
